.block {
 margin: 100px auto;
 text-align: center;
 p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 40px;
 }
}
.btn-img {
 margin-left: 10px !important;
 width: 20px;
 height: 30px;
}
.codeInputs {
 display: flex;
 justify-content: center;
 input {
  width: 70px;
  margin: 5px;
 }
}
