.block {
 margin: 100px auto;
 text-align: center;
 p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 40px;
 }
}
.title {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 22px;
}
.btn {
 margin: 0 auto;
}
.btn-img {
 margin-left: 10px !important;
 width: 20px;
 height: 30px;
}
